<div class="space-50"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
     Главная страница
    </h3>
  </div>
</section><!--page-tree end here-->

<div class="space-50"></div>
