<div class="space-10"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
      Главная страница
    </h3>
  </div>
</section><!--page-tree end here-->
<h2 style="text-align: center;">Сайт маф. клуба Mafia CL</h2>
<div class="container">
  <div class="raw">
    <div class="col-md-12">
      <%= image_tag('main_image5.jpg', class: 'img-responsive center-block', width: '768', height: '1024', align: 'middle') %>
    </div>
  </div>
</div>
<div class="space-50"></div>
