<div class="container">
  <div class="raw">
    <div class="col-md-6">
      <h1>Edit Tour</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @big_tournament_tour %> |
      <%= link_to 'Back', big_tournament_tours_path %>
    </div>
  </div>
</div>