<div class="container">
  <div class="raw">
    <div class="col-md-6">
      <p id="notice"><%= notice %></p>

      <%= link_to 'Edit', edit_big_tournament_tour_path(@big_tournament_tour) %> |
      <%= link_to 'Back', big_tournament_tours_path %>
    </div>
  </div>
</div>
