<div class="space-50"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
     Список игр
    </h3>
  </div>
</section><!--page-tree end here-->

<div class="space-50"></div>
<div class="container">
  <div class="raw">
    <div class="cold-md-12">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>ID игры</th>
          <th>Ведущий</th>
          <th>Победа</th>
          <th>Дата</th>
        </tr>
        </thead>
        <% @games.each do |game| %>
            <tbody>
            <tr>
              <td><%= game.id %></td>
              <td><%= game.leading.try(:nick) %></td>
              <td><%= game.victory %></td>
              <td><%= game.date %></td>
            <tr>
            </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>