<div class="space-10"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
      Управление студлигой
    </h3>
  </div>
</section><!--page-tree end here-->

<div class="space-50"></div>
<div class="container">
  <% if current_admin.present? %>
    <p><%= link_to 'Добавить игру', add_game_path(tournament: 'sl') %></p>
   <% end %>
  <p><%= link_to 'Список игр', studliga_games_path %></p>
  <p><%= link_to 'Рейтинг', studliga_rating_path %></p>
</div>