<div class="container">
  <div class="raw">
    <div class="col-md-6">
      <p id="notice"><%= notice %></p>

      <%= link_to 'Edit', edit_player_path(@player) %> |
      <%= link_to 'Back', players_path %>
    </div>
  </div>
</div>