<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 margin-btm-20">
        <div class="footer-col">
          <h3>MafiaCL Kharkov</h3>
            <p>Тут будет текст, который напишет Yes</p>
        </div>
        <div class="space-20"></div>
        <div class="footer-col">
          <h3>Контактная информация</h3>
          <p><i class="ion-home"></i> Украина, г. Харьков, пер. Инженерный, 9а</p>
          <p><i class="ion-iphone"></i> +38(095)666666666</p>
          <p><i class="ion-email"></i> mafia@gmail.com</p>
        </div>
        <div class="space-20"></div>
        <div class="footer-col">
          <h3>Мы в социальных сетях</h3>
          <ul class=" list-inline social-btn">
            <li><a href="#" target="_blank"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Googleplus"></i></a></li>
            <li><a href="#" target="_blank"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
            <li><a href="skype:xthemakx?chat"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
          </ul>
        </div><!--footer social col-->
      </div><!--col-4 end-->
      <div class="col-md-3 margin-btm-20">
        <div class="footer-col">
          <h3>Последние новости</h3>
          <ul class="post-list list-unstyled">
            <li><a href="#" class="hover-color">Когда-то тут будет блог</a></li>
            <li><a href="#" class="hover-color">Когда-то тут будет блог</a></li>
            <li><a href="#" class="hover-color">Когда-то тут будет блог</a></li>
            <li><a href="#" class="hover-color">Когда-то тут будет блог</a></li>
            <li><a href="#" class="hover-color">Когда-то тут будет блог</a></li>
          </ul>
        </div>
      </div><!--latest post col end-->
      <div class="col-md-5">
        <div class="footer-col">
          <h3>Обратная связь</h3>
          <form>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Имя">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Адрес электронной почты">
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Тема">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Текст сообщения" rows="7"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-lg btn-white">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--get in touch col end-->
    </div><!--footer main row end-->
    <div class="space-70"></div>
    <div class="row">
      <div class="col-md-12 text-center footer-bottom">
        <a href="index.html"> <img src="../assets/logo_mcl.png" alt=""></a>
        <div class="space-20"></div>
        <span>&copy;2015 MCL</span>
      </div>
    </div><!--footer copyright row end-->
  </div><!--container-->
</div><!--footer main end-->